<div class="col-md-6">
  <!-- PAGE TITLE -->
  <h2 class="text-center">Edit Sensor</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit($event.target.value)">
    <!-- SENSOR ID -->
    <div class="form-group">
      <label>Sensor ID :</label>
      <input placeholder="{{ sensorId }}" class="form-control" disabled />
    </div>
    <!-- LATITUDE -->
    <div class="form-group">
      <label for="latitude">Latitude :</label>
      <input
        formControlName="latitude"
        placeholder="{{ lat }}"
        class="form-control"
        id="latitude"
      />
    </div>
    <!-- LONGITUDE -->
    <div class="form-group">
      <label for="longitude">Longitude :</label>
      <input
        formControlName="longitude"
        placeholder="{{ lng }}"
        class="form-control"
        id="longitude"
      />
    </div>
    <!-- TEMPERATURE -->
    <div class="form-group">
      <label for="temperature">Temperature :</label>
      <input
        formControlName="temperature"
        placeholder="{{ temp }}"
        class="form-control"
        id="temperature"
      />
    </div>
    <!-- UPDATE BUTTON -->
    <div class="form-group">
      <label for="updated">Last Updated :</label>
      <input placeholder="{{ updated }}" class="form-control" disabled />
    </div>
    <button class="btn btn-primary">Update</button>
  </form>
</div>
