<!-- <h2>Sensor Management</h2>

<table>
  <tr>
    <th>Type</th>
    <th>Device ID</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Temperature</th>
    <th>Timestamp</th>
  </tr>
  <tr>
    <td>Control System</td>
    <td>CS_1</td>
    <td>2.931179</td>
    <td>101.659292</td>
    <td>37.5</td>
    <td>15/10/2018 04:08:53 PM
    </td>
  </tr>
  <tr>
    <td>Manhole Infra</td>
    <td>MI_1</td>
    <td>2.931179</td>
    <td>101.659292</td>
    <td>37.5</td>
    <td>15/10/2018 04:08:53 PM
    </td>
  </tr>
  <tr>
    <td>Cabinet Infra</td>
    <td>CI_1</td>
    <td>2.931179</td>
    <td>101.659292</td>
    <td>37.5</td>
    <td>15/10/2018 04:08:53 PM</td>
  </tr>
  <tr>
    <td>Pole Infra</td>
    <td>PI_1</td>
    <td>2.931179</td>
    <td>101.659292</td>
    <td>37.5</td>
    <td>15/10/2018 04:08:53 PM</td>
  </tr>
  <tr>
    <td>Fiber Channel</td>
    <td>FC_1</td>
    <td>2.931179</td>
    <td>101.659292</td>
    <td>37.5</td>
    <td>15/10/2018 04:08:53 PM</td>
  </tr>

</table>

<button>DOWNLOAD</button> -->
