#slider1 {
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 1);
  bottom: 0;
  margin-left: 650px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  min-height: 50px;
  min-width: 350px;
}

#slider2 {
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 1);
  bottom: 0;
  margin-left: 650px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  min-height: 50px;
  min-width: 350px;
}

#slider3 {
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 1);
  bottom: 0;
  margin-left: 650px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  min-height: 50px;
  min-width: 350px;
}

h3 {
  margin-top: 7px;
  margin-bottom: 11px;
  text-align: center;
  font-weight: bold;
}

#collapseExample {
  margin-bottom: 5px;
  margin-top: 5px;
}

#button_path {
  margin-top: 5px;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

mat-slider {
  margin-left: 10px;
  margin-right: 10px;
  width: 330px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}
