<div class="row no-gutters">
  <div class="col-sm-4">
    <h3>MAP</h3>
    <button
      class="btn btn-block btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      SENSORS
    </button>
    <div class="collapse" id="collapseExample">
      <button
        value="1"
        (click)="genSensor()"
        id="icad"
        class="btn btn-block btn-secondary"
      >
        C026
      </button>
      <button
        value="2"
        (click)="genSensor($value)"
        id="icad"
        class="btn btn-block btn-secondary"
      >
        CBJ2 to FDC
      </button>
      <button
        value="3"
        (click)="genSensor($event.value)"
        id="icad"
        class="btn btn-block btn-secondary"
      >
        TMRND to CBJ2
      </button>
    </div>
    <button
      class="btn btn-block btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      HEATMAP
    </button>
    <div class="collapse" id="collapseExample">
      <button (click)="path1()" id="button" class="btn btn-block btn-secondary">
        C026
      </button>
      <button (click)="path2()" id="button" class="btn btn-block btn-secondary">
        CBJ2 to FDC
      </button>
      <button (click)="path3()" id="button" class="btn btn-block btn-secondary">
        TMRND to CBJ2
      </button>
    </div>
    <button
      (click)="genPath()"
      id="button_path"
      class="btn btn-block btn-primary"
    >
      PATH
    </button>
    <button (click)="genWaterLevel()" class="btn btn-block btn-primary">
      WATER LEVEL
    </button>
  </div>

  <div class="col-sm-8"><div id="map"></div></div>
</div>

<div id="slider1" style="display: none;">
  <mat-slider
    class="example-margin"
    [disabled]="disabled"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [tickInterval]="tickInterval"
    [(ngModel)]="value"
    [vertical]="vertical"
    (input)="update1($event.value)"
  >
  </mat-slider>
</div>
<div id="slider2" style="display: none;">
  <mat-slider
    class="example-margin"
    [disabled]="disabled"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [tickInterval]="tickInterval"
    [(ngModel)]="value"
    [vertical]="vertical"
    (input)="update2($event.value)"
  >
  </mat-slider>
</div>
<div id="slider3" style="display: none;">
  <mat-slider
    class="example-margin"
    [disabled]="disabled"
    [invert]="invert"
    [max]="max"
    [min]="min"
    [step]="step"
    [thumbLabel]="thumbLabel"
    [tickInterval]="tickInterval"
    [(ngModel)]="value"
    [vertical]="vertical"
    (input)="update3($event.value)"
  >
  </mat-slider>
</div>
