<div class="col-md-12 user-container">
  <br />
  <!-- PAGE TITLE -->
  <h2 style="margin: auto">Path Management</h2>
  <br />
  <!-- ADD NEW PATH BUTTON-->
  <button class="btn btn-primary" style="width:100px" (click)="addPath()">
    Add Path
  </button>
  <hr />
  <!-- TABLE PATH -->
  <table class="table table-striped" style="text-align: center;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Path Name</th>
        <th>Path Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let path of paths">
        <td>{{ path.path_id }}</td>
        <td>{{ path.path_name }}</td>
        <td>{{ path.path_desc }}</td>
        <td>
          <!-- EDIT PATH BUTTON-->
          <button
            class="btn btn-primary"
            (click)="editPath(path)"
            style="margin-left: 20px; width:170px"
          >
            Edit
          </button>
          <!-- DELETE PATH BUTTON-->
          <button
            class="btn btn-danger"
            (click)="deletePath(path)"
            style="margin-left: 20px; width:170px"
          >
            Delete
          </button>
          <!-- GO TO SENSOR MANAGEMENT BUTTON-->
          <button
            class="btn btn-success"
            (click)="goToSensorManagement(path)"
            style="margin-left: 20px; width:170px"
          >
            Sensor Management
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
