<nav class="side-menu">
  <ul>
    <li>
      <!-- Collapse button -->
      <a id="menu-toggle" href="javascript:void(0);">
        <i class="fa fa-bars fa-1x"></i>
      </a>
    </li>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">date_range</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="table" [class.activated]="currentUrl == '/table'">
        <i class="material-icons">table_chart</i>
      </a>
    </li>
    <li>
      <a routerLink="maps" [class.activated]="currentUrl == '/maps'">
        <i class="material-icons">navigation</i>
      </a>
    </li>
  </ul>
</nav>
