
<h2>Alert Management</h2>
<div class="container">
<table datatable class="row-border hover">
    <thead id="TblHead">
        <tr>
          <!-- <th>ID</th> -->
          <th>Device Type</th>
          <th>Map Type</th>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Temperature</th>
          <th>Last Update</th>
          <th></th>
          <th></th> 
        </tr>
      </thead>
      <tbody>
    <tr *ngFor="let data of merged">
      <!-- <td>{{ data.id }}</td> -->
      <td>{{ data.deviceType }}</td>
      <td>{{ data.mapType }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.lat }}</td>
      <td>{{ data.lng }}</td>
      <td>{{ data.temp }}</td>
      <td>{{ data.lastUpdate }}</td>
      <td><button (click)="acknowledge(data)" class="btn btn-block btn-primary">Acknowledge</button>
        <span *ngIf="data.acknowledge">By: {{data.acknowledge}}</span></td>
        <td><button class="btn btn-block btn-primary">View</button></td>
    </tr> 
  </tbody>
  </table>
</div>
