<h2>Alert Management</h2>
<div class="container">
  <table datatable class="row-border hover">
    <thead id="TblHead">
      <tr>
        <th>ID</th>
        <th>Device Type</th>
        <th>Map Type</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Result</th>
        <th>Last Update</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alert of alerts">
        <td>{{ alert.id }}</td>
        <td>{{ alert.deviceType }}</td>
        <td>{{ alert.mapType }}</td>
        <td>{{ alert.name }}</td>
        <td>{{ alert.lat }}</td>
        <td>{{ alert.lng }}</td>
        <td>{{ alert.result }}</td>
        <td>{{ alert.lastUpdate }}</td>
        <td><button (click)="acknowledge(alert)" class="btn btn-block btn-primary">Acknowledge</button>
        <span *ngIf="alert.acknowledge">By: {{alert.acknowledge}}</span></td>
        <td><button class="btn btn-block btn-primary">View</button></td>
      </tr>
    </tbody>
  </table>
</div>
