<!-- <div id="container">
  <h1>PATH MANAGEMENT OF FIBRE OPTIC SENSOR</h1>
</div>

<div class="container">
  <h3>'Print device id here'</h3>

  <table class="table table-bordered"  height="200">
    <thead>
      <tr>
        <th>DEVICE_ID</th>
        <th>DEVICE DESCRIPTION</th>
        <th>LONGITUDE</th>
        <th>LATITUDE</th>
        <th>RECEIVED POWER</th>
        <th>TYPE</th>
        <th>TECHNOLOGY</th>
        <th>DISTANCE</th>
        <th>LAST UPDATED</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FS1</td>
        <td>Fiber Cabinet door at TM R&D</td>
        <td>101.659292</td>
        <td>2.931179</td>
        <td>20dB</td>
        <td>CABINET</td>
        <td>FIBER</td>
        <td>50</td>
        <td>14/11/2017 04:08:53 PM</td>
        <td>ACTIVE</td>
      </tr>
      <tr>
        <td>FS3</td>
        <td>Pole #2 for fiber sensing at TM R&D</td>
        <td>101.658820</td>
        <td>2.931393</td>
        <td>15dB</td>
        <td>POLE</td>
        <td>FIBER</td>
        <td>30</td>
        <td>14/11/2017 04:08:53 PM</td>
        <td>ACTIVE</td>
      </tr>
      <tr>
        <td>F4</td>
        <td>Manhole 1 at TM R&D</td>
        <td>101.659090</td>
        <td>2.931478</td>
        <td>-10dB</td>
        <td>MANHOLE</td>
        <td>FIBER</td>
        <td>100</td>
        <td>14/11/2017 04:08:53 PM</td>
        <td>ACTIVE</td>
      </tr>
       <tr>
        <td>FS3</td>
        <td>Pole #2 for fiber sensing at TM R&D</td>
        <td>101.658820</td>
        <td>2.931393</td>
        <td>15dB</td>
        <td>POLE</td>
        <td>FIBER</td>
        <td>30</td>
        <td>14/11/2017 04:08:53 PM</td>
        <td>ACTIVE</td>
      </tr>
    </tbody>
  </table>
</div> -->
