$fa-font-path: "../src/assets/libs/font-awesome/fonts/" !default;
$icon-font-path: "../src/assets/libs/bootstrap-sass/assets/fonts/bootstrap/" !default;

@import "../src/assets/libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../src/assets/libs/font-awesome/scss/font-awesome.scss";

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

section{
    height: 100%;
    padding: 20px;
}   
